#wp-social-ring {
	margin-top:15px;
}

#wp-social-ring .postbox  h3{
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 10px;
}

.explain {
	margin: 10px;
}

#wp-social-ring  .form-table th {
	font-weight: bold;
	padding: 15px 10px;
}

#avbox {
	background-image: url('../images/avblog-wpbox.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom:70px;
}

#avbox-container {
	border: 2px solid green !important;
}

#avbox-container h3 {
	color: green;
	font-weight: bold !important;
}

 
#avbox a.avbtn {
	background: #23b708;
    border: 1px solid #1c9507;
    border-radius: 16px;;
    color: #fff;
	box-shadow: 0 1px 0 #7ed56f inset;
    cursor: pointer;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin: 0 8px;
    outline: none;
    display: inline-block;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
 
#avbox a.avbtn:hover {
	background: #20a607;
	color: white !important;
}
 
#avbox p.avlink {padding-top:10px}